.form-container {
  background-color: #f9f9f9; // Cor de fundo suave
  border-radius: 15px; // Arredondar os cantos
  padding: 30px; // Espaçamento interno
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); // Sombra suave
}

.rounded-input {
  border-radius: 10px; // Arredondar os campos de entrada
  border: 1px solid #ccc; // Borda padrão
  transition: border-color 0.3s; // Transição suave para a cor da borda

  &:focus {
    border-color: #3b9ae7; // Cor da borda quando focado
    box-shadow: 0 0 5px rgba(59, 154, 231, 0.5); // Sombra ao focar
  }
}

h2 {
  color: #0b618b; // Cor do título
}

button {
  border-radius: 10px; // Arredondar o botão
}

.busca-viagens-container {
    background-color: #f0f8ff; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .busca-viagens-container h2 {
    color: #003366; 
    margin-bottom: 20px;
  }
  
  .busca-viagens-container .form-group {
    margin-bottom: 15px;
  }
  
  .busca-viagens-container .form-label {
    font-weight: bold;
    color: #003366; 
  }
  
  .busca-viagens-container .form-control {
    border: 1px solid #003366;
    border-radius: 5px;
    padding: 10px;
  }
  
  .busca-viagens-container .form-control:focus {
    border-color: #0056b3; 
    box-shadow: 0 0 5px rgba(0, 91, 155, 0.5);
  }
  
  .busca-viagens-container .btn-primary {
    background-color: #0056b3; 
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
  }
  
  .busca-viagens-container .btn-primary:hover {
    background-color: #003d7a; 
  }
  
  .busca-viagens-container .btn-primary:focus {
    box-shadow: 0 0 5px rgba(0, 91, 155, 0.5);
  }
  