.navbar-brand img {
    height: 50px; // Ajuste conforme necessário
    width: auto; // Mantém a proporção original
  }
  .hover-effect:hover {
    color: yellow; /* Muda a cor do ícone ao passar o mouse */
    background-color: black; /* Opcional: muda o fundo ao passar o mouse */
    border-color: red; /* Muda a cor da borda ao passar o mouse */
  }